<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Sign In</title>
  </head>
  <body>
    <p>Sign In</p>
    <form action="/custs/signin" method="post">
      <label for="email">Enter Email: </label>
      <input id="email" type="text" name="email" required />
      <label for="password">Enter Password: </label>
      <input id="password" type="password" name="password" required />
      <input type="submit" value="OK" />
    </form>
    <a href="/custs/signup">New Customer??</a>
  </body>
</html>
