<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Sign Up</title>
  </head>
  <body>
    <p>Sign up</p>
    <form action="/custs/signup" method="post">
      <label for="email">Enter Email: </label>
      <input id="email" type="text" name="email" required />
      <label for="pass">Enter Password: </label>
      <input id="pass" type="password" name="pass" required />
      <input type="submit" value="OK" />
    </form>
    <a href="/custs/signin">Already a customer</a>
  </body>
</html>
