.App {
  font-family: sans-serif;
}

.cust_login_text {
  text-align: center;
  margin-bottom: 20px;
}

.cust_login {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}

.cust_login_label,
.cust_input {
  display: block;
  width: 100%;
}

.cust_login_label {
  margin-bottom: 5px;
  height: 22px;
}

.cust_input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

.cust_input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.cust_login_btn {
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}

.cust_login_btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
